html, body {
    height: 100%;
    margin: 0;
    background-color: #1F1F1F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #E6E6E6;
}

header {
    flex: 1;
    background-color: #37140f;
    width: 98%;
    padding: 0 1%;
    padding-bottom: 10px;
}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    font-size: 16.5px;
}

main {
    flex: 10;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    height: 100%;
}

#description {
    font-size: 11.5px;
    text-align: left;
    padding-top: 2px;
    line-height: 1em;
}

#description .badge {
    display: inline;
    background-color: #DDD;
    border-radius: 5px;
    color: #333;
    padding: 3px;
}

#description p {
    display: inline;
    line-height: 1.3em;
}

#description pre:empty {
    display: none;
}

#editor {
    flex: 6;
    border: 1px solid gray;
}

#toolbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 20px;
}

#toolbar button {
    background-color: #c02d28;
    border: 0;
    color: white;
    padding: 10px 10px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 40px;
}

#toolbar button:disabled {
    background-color: #3b3a3a;
    color: #FFF;
    opacity: 0.6;
}

#output {
    flex: 3;
    color:#F1f1f1;
    background-color: #1F1F1F;
    border: 1px solid gray;
    padding: 10px;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word; 
    overflow-x: hidden; 
}

#output div {
    margin: 10px 0;
}

.error {
    color: lightcoral;
}

.ace_editor,
.ace_editor * {
    line-height: 1.5rem !important;
}

#codelab {
    display: block;
    margin: 0 10px;
    height: 40px;
    border: 1.5px solid #DDD;
    font-size: 13px;
    background-color: darkred;
    color: #DDD;
    border-radius: 10px;    
}

header>section {
    display: flex;
    align-items: center; 
}

footer {
    position: fixed;
    top: 5px;
    right: 5px;
    border-radius: 10px;
    font-size: 13px;
    background-color: #c95018;
}

footer a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: white;
}